div.Select-value.Search-synonym-tag {
    background-color: #ebffeb;
    background-color: rgba(18, 117, 0, 0.07);
    border-color: #c6ffc2;
    border-color: rgba(18, 117, 0, 0.24);
    color: #3c763d;
}